.grid-container {
  margin: auto;
  margin-top: 4rem;
    display: grid;
    position: relative;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    color: white;
    padding: 0px;
    width: 300px;
    height: 300px;
  }
  .grid-item {
    background-color: #2196F3;
    list-style: none;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;

    
  }

  .grid-1 {
    background: #2196F3 url('/public/logo512.png') no-repeat scroll 0% 0%;
  }

  .grid-2 {
    background: #2196F3 url('/public/logo512.png') no-repeat scroll 25% 0%;
  }

  .grid-3 {
    background: #2196F3 url('/public/logo512.png') no-repeat scroll 50% 0%;
  }
  
  .grid-4 {
    background: #2196F3 url('/public/logo512.png') no-repeat scroll 75% 0%;
  }

  .grid-5 {
    background: #2196F3 url('/public/logo512.png') no-repeat scroll 0% 25%;
  }

  .grid-6 {
    background: #2196F3 url('/public/logo512.png') no-repeat scroll 25% 25%;
  }

  .grid-7 {
    background: #2196F3 url('/public/logo512.png') no-repeat scroll 50% 25%;
  }

  .grid-8 {
    background: #2196F3 url('/public/logo512.png') no-repeat scroll 75% 25%;
  }

  .grid-9 {
    background: #2196F3 url('/public/logo512.png') no-repeat scroll 0% 50%;
  }


  .grid-10 {
    background: #2196F3 url('/public/logo512.png') no-repeat scroll 25% 50%;
  }

  .grid-11 {
    background: #2196F3 url('/public/logo512.png') no-repeat scroll 50% 50%;
  }

  .grid-12 {
    background: #2196F3 url('/public/logo512.png') no-repeat scroll 75% 50%;
  }

  .grid-13 {
    background: #2196F3 url('/public/logo512.png') no-repeat scroll 0% 75%;
  }

  .grid-14 {
    background: #2196F3 url('/public/logo512.png') no-repeat scroll 25% 75%;
  }

  .grid-15 {
    background: #2196F3 url('/public/logo512.png') no-repeat scroll 50% 75%;
  }

  .grid-16 {
    background: #2196F3 url('/public/logo512.png') no-repeat scroll 75% 75%;
  }

  

  

